[submodule "posh-hg"]
        path = posh-hg
        url = git://github.com/JeremySkinner/posh-hg.git

[submodule "posh-git"]
        path = posh-git
        url = git://github.com/dahlbyk/posh-git.git
